<div>
  <p>
    Paste the URL to your image in the field below.
  </p>
  <div class="form-field">
    <div class="form-field-label">
      URL
    </div>
    <div class="form-field-input">
      <input type="text" name="url" placeholder="Paste URL" />
    </div>
  </div>
</div>