<div class="pane actions">
  <span class="title">
    Actions
  </span>
  <a
    data-type="action"
    data-action="mask"
    class="button"
    title="Create Mask from active Layer"
  >
    <i class="fa fa-mask"></i>
  </a>
  <a
    data-type="action"
    data-action="open-submenu"
    data-target="add-layer"
    class="button"
    title="Add a layer..."
  >
    <i class="fa fa-plus"></i>
  </a>
  <div class="submenu" data-name="add-layer">
    <a
      data-type="action"
      data-action="add-layer-profile"
      class="button"
      title="From profile image"
    >
      <i class="fa fa-user"></i>
    </a>
    <a
      data-type="action"
      data-action="open-modal"
      data-target="add-layer-local"
      class="button"
      title="From local storage"
    >
      <i class="fa fa-hdd"></i>
    </a>
    <a
      data-type="action"
      data-action="open-modal"
      data-target="add-layer-url"
      class="button"
      title="From Internet"
    >
      <i class="fa fa-globe"></i>
    </a>
    <a
      data-type="action"
      data-action="add-layer-fvtt"
      class="button"
      title="From FVTT Server"
    >
      <i class="fa fa-dice-d20"></i>
    </a>
  </div>
</div>