<div class="pane layers">
  <div class="layer">
    <div class="status">
      <div data-type="action" data-action="lock">
        <i class="fa fa-lock icon"></i>
      </div>
    </div>
    <div class="icon">
      <i class="fa fa-image"></i>
    </div>
    <div class="meta">
      <div class="title">
        fontasy.jpg
      </div>
    </div>
    <div class="actions">
      <div data-type="action" data-action="mask">
        <i class="fa fa-mask icon active"></i>
      </div>
      <div data-type="action" data-action="reset">
        <i class="fa fa-redo icon inactive" title="Reset transformations"></i>
      </div>
      <div data-type="action" data-action="alpha">
        <input
          type="range"
          min="0"
          max="100"
          step="5"
          value="90"
          style="width: 50px; margin: 0px 5px 0px 5px"
        />
        90%
      </div>
    </div>
  </div>
  <div class="layer">
    <div class="status">
      <div data-type="action" data-action="lock">
        <i class="fa fa-lock icon inactive"></i>
      </div>
    </div>
    <div class="icon">
      <i class="fa fa-image"></i>
    </div>
    <div class="meta">
      <div class="title">
        fontasy.jpg
      </div>
    </div>
    <div class="actions">
      <div data-type="action" data-action="mask">
        <i class="fa fa-mask icon active"></i>
      </div>
      <div data-type="action" data-action="reset">
        <i class="fa fa-redo icon inactive" title="Reset transformations"></i>
      </div>
      <div data-type="action" data-action="alpha">
        <input
          type="range"
          min="0"
          max="100"
          step="5"
          value="90"
          style="width: 50px; margin: 0px 5px 0px 5px"
        />
        90%
      </div>
    </div>
  </div>
  <div class="layer">
    <div class="status">
      <div data-type="action" data-action="lock">
        <i class="fa fa-lock icon inactive"></i>
      </div>
    </div>
    <div class="icon">
      <i class="fa fa-mask"></i>
    </div>
    <div class="meta">
      <div class="title">
        From: fontasy.jpg
      </div>
    </div>
    <div class="actions">
      <div data-type="action" data-action="mask">
        <i class="fa fa-mask icon active"></i>
      </div>
      <div data-type="action" data-action="reset">
        <i class="fa fa-redo icon inactive" title="Reset transformations"></i>
      </div>
      <div data-type="action" data-action="alpha">
        <input
          type="range"
          min="0"
          max="100"
          step="5"
          value="90"
          style="width: 50px; margin: 0px 5px 0px 5px"
        />
        90%
      </div>
    </div>
  </div>
  <div class="layer active">
    <div class="status">
      <div data-type="action" data-action="lock">
        <i class="fa fa-lock icon inactive"></i>
      </div>
    </div>
    <div class="icon">
      <i class="fa fa-image"></i>
    </div>
    <div class="meta">
      <div class="title">
        fontasy.jpg
      </div>
    </div>
    <div class="actions">
      <div data-type="action" data-action="mask">
        <i class="fa fa-mask icon active"></i>
      </div>
      <div data-type="action" data-action="reset">
        <i class="fa fa-redo icon inactive" title="Reset transformations"></i>
      </div>
      <div data-type="action" data-action="alpha">
        <input
          type="range"
          min="0"
          max="100"
          step="5"
          value="90"
          style="width: 50px; margin: 0px 5px 0px 5px"
        />
        90%
      </div>
    </div>
  </div>
  <div class="layer">
    <div class="status">
      <div data-type="action" data-action="lock">
        <i class="fa fa-lock icon inactive"></i>
      </div>
    </div>
    <div class="icon">
      <i class="fa fa-image"></i>
    </div>
    <div class="meta">
      <div class="title">
        fontasy.jpg
      </div>
    </div>
    <div class="actions">
      <div data-type="action" data-action="mask">
        <i class="fa fa-mask icon active"></i>
      </div>
      <div data-type="action" data-action="reset">
        <i class="fa fa-redo icon inactive" title="Reset transformations"></i>
      </div>
      <div data-type="action" data-action="alpha">
        <input
          type="range"
          min="0"
          max="100"
          step="5"
          value="90"
          style="width: 50px; margin: 0px 5px 0px 5px"
        />
        90%
      </div>
    </div>
  </div>
  <div class="layer">
    <div class="status">
      <div data-type="action" data-action="lock">
        <i class="fa fa-lock icon inactive"></i>
      </div>
    </div>
    <div class="icon">
      <i class="fa fa-image"></i>
    </div>
    <div class="meta">
      <div class="title">
        fontasy.jpg
      </div>
    </div>
    <div class="actions">
      <div data-type="action" data-action="mask">
        <i class="fa fa-mask icon active"></i>
      </div>
      <div data-type="action" data-action="reset">
        <i class="fa fa-redo icon inactive" title="Reset transformations"></i>
      </div>
      <div data-type="action" data-action="alpha">
        <input
          type="range"
          min="0"
          max="100"
          step="5"
          value="90"
          style="width: 50px; margin: 0px 5px 0px 5px"
        />
        90%
      </div>
    </div>
  </div>
</div>